#root{
    min-height: 100vh;
    min-width: 1024px;
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
    
}

.auth-form {
    background: #ffffff;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 10px;

}
